html {font-size:10px;-webkit-text-size-adjust:100%;}
html,body,header,section,footer,div,h1,h2,dl,dt,dd,ul,li,p,a,b,i{margin: 0;padding: 0;box-sizing:border-box;}
body{width:100%;height:100%;background-color:#d00e0f;color:#fff;}
body{font:1.2rem/1.6 Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self;}
ul{list-style: none;}
a{text-decoration: none;-webkit-tap-highlight-color:transparent;}
:link, :visited , ins{ text-decoration:none ;}
img {width: 100%; border: none;vertical-align: middle;}
.banner{position:relative;}
.banner a{position: absolute;
    width: 46%;
    height: 16%;
    left: 28%;
    bottom: 15%;
    display: block;
    text-indent: -9999rem;
}
.wrap{padding:2.4rem 1.5% 0 1.5%;}
.title{background:url(../images/title.png) no-repeat;background-size:18rem;width:16.5rem;height:4.2rem;position:absolute;top:-2.4rem;left:50%;margin-left:-8.25rem;}
.content{background-color:#b20305;border-radius:1rem;padding:2.5rem 1.5rem;font-size:1.2rem;position:relative;margin-bottom:5rem;}
.text-title{font-size:1.8rem;}
.tips-img{margin:1rem 0.5rem;}
.title2{background-position:0 -10rem;}
.content2 .text-title{padding-top:0.6rem;}
.text-title-long{font-size:1.6rem;}




@media screen and (min-width:321px) and (max-width:479px ) {
    html{font-size:12px;}
}
@media screen and (min-width:480px) and (max-width:639px ) {
    html{font-size:15px;}
}
@media screen and (min-width:640px) and (max-width:719px ) {
    html{font-size:20px;}
}
@media screen and (min-width:720px) and (max-width:749px ) {
    html{font-size:22.5px;}
}
@media screen and (min-width:750px) and (max-width:799px ) {
    html{font-size:23.5px;}
}
@media screen and (min-width:800px) and (max-width:959px ) {
    html{font-size:25px;}
}
@media screen and (min-width:960px) and (max-width:1079px ) {
    html{font-size:30px;}
}
@media screen and (min-width:1080px) {
    html{font-size:32px;}
}